<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.risibleapps.translator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TranzLator">
        <activity
            android:name="com.risibleapps.translator.activity.ConversationLanguageList"
            android:exported="true" />
        <activity
            android:name="com.risibleapps.translator.activity.TranslationFullScreen"
            android:exported="true" />
        <activity
            android:name="com.risibleapps.translator.activity.TranslationLanguageList"
            android:exported="false" />
        <activity
            android:name="com.risibleapps.translator.activity.HomeScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.risibleapps.translator.activity.SplashScreen"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1814031312363155~8956209338"/>

    </application>

</manifest>